@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");


@font-face {
  font-family: "LINESeedKR";
  src: url("/fonts/LINESeedKR-Hv.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "LINESeedKR";
  src: url("/fonts/LINESeedKR-Bd.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "LINESeedKR";
  src: url("/fonts/LINESeedKR-Rg.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "LINESeedKR";
  src: url("/fonts/LINESeedKR-Th.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Kakao';
  src: url('/fonts/KakaoLight.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
  /* ✅ block 대신 block → 블링크 방지 */
}

@font-face {
  font-family: 'Kakao';
  src: url('/fonts/KakaoRegular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: block;
  /* ✅ block 대신 block → 블링크 방지 */
}

@font-face {
  font-family: 'Kakao';
  src: url('/fonts/KakaoBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Kakao Small Sans';
  src: url('/fonts/KakaoSmallSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: block;
  /* ✅ block 대신 block → 블링크 방지 */
}

@font-face {
  font-family: 'Kakao Unified';
  src: url('/fonts/KakaoSmallSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
  /* ✅ block 대신 block → 블링크 방지 */
}

@font-face {
  font-family: 'Kakao Small Sans';
  src: url('/fonts/KakaoSmallSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Kakao Big Sans';
  src: url('/fonts/KakaoBigSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
  /* ✅ block 대신 block → 블링크 방지 */
}

@font-face {
  font-family: 'Kakao Big Sans';
  src: url('/fonts/KakaoBigSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: block;
  /* ✅ block 대신 block → 블링크 방지 */
}

@font-face {
  font-family: 'Kakao Big Sans';
  src: url('/fonts/KakaoBigSans-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: block;
}
/* -----------------------------
   Noto Sans KR (woff2 → woff → otf)
   ----------------------------- */

@font-face {
  font-family: 'Noto Sans KR';
  src: url('/fonts/NotoSansKR-Thin.woff2') format('woff2'),
       url('/fonts/NotoSansKR-Thin.woff') format('woff'),
       url('/fonts/NotoSansKR-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('/fonts/NotoSansKR-Light.woff2') format('woff2'),
       url('/fonts/NotoSansKR-Light.woff') format('woff'),
       url('/fonts/NotoSansKR-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('/fonts/NotoSansKR-DemiLight.woff2') format('woff2'),
       url('/fonts/NotoSansKR-DemiLight.woff') format('woff'),
       url('/fonts/NotoSansKR-DemiLight.otf') format('opentype');
  font-weight: 350;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('/fonts/NotoSansKR-Regular.woff2') format('woff2'),
       url('/fonts/NotoSansKR-Regular.woff') format('woff'),
       url('/fonts/NotoSansKR-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('/fonts/NotoSansKR-Medium.woff2') format('woff2'),
       url('/fonts/NotoSansKR-Medium.woff') format('woff'),
       url('/fonts/NotoSansKR-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('/fonts/NotoSansKR-Bold.woff2') format('woff2'),
       url('/fonts/NotoSansKR-Bold.woff') format('woff'),
       url('/fonts/NotoSansKR-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('/fonts/NotoSansKR-Black.woff2') format('woff2'),
       url('/fonts/NotoSansKR-Black.woff') format('woff'),
       url('/fonts/NotoSansKR-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

:root {
    --padding-base-vertical: 11px;
    --padding-base-horizontal: 16px;
    --padding-t-vertical: 4px;
    --padding-t-horizontal: 8px;
    --padding-s-vertical: 7px;
    --padding-s-horizontal: 12px;
    --padding-l-vertical: 11px;
    --padding-l-horizontal: 22px;
    --padding-xl-vertical: 18px;
    --padding-xl-horizontal: 24px;
    --padding-container-base: 48px
}
